.crumb__bar {
  padding: 1em 0 2em 3em;

  & > [data-crumb] {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #b3cade;
    padding-right: 0.5em;
    font-weight: 700;
    display: inline;
    cursor: pointer;

    &::after {
      content: '|';
      color: orange;
      transform: translateX(0.5em);
    }
  }
}
