.crumb__bar {
  padding: 1em 0 2em 3em ;

  & > [data-crumb] {
    font-size: 1.25em;
    text-transform: uppercase;
    color: #B3CADE;
    padding-right: .5em;
    font-weight: 700;
    display: inline;

    &::after {
      content: '|';
      color: orange;
    }
  }
}