.no__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;

  &Icon {
    font-size: 15em;
    color: #ffd662;
  }
  &Message {
    font-size: 2em;
    color: #B3CADE;
    text-decoration: underline;
  }
}