@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import './styles/nav';
@import './styles/crumb';
@import './styles/movies';
@import './styles/template';
@import './styles/noSearch';

* {
  margin: 0;
  font-family: lato;
  padding: 0;
}

body {
  background: #001D37;
}