* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// the begin of header section
#header {
  padding: 30px 10px;
  background-color: #041222;

  #nav {
    display: flex;
    justify-content: space-between;

    .logo {
      font-size: 25px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-family: sans-serif;
    }

    .nav-items {
      display: flex;
      list-style: none;

      .nav-item {
        padding: 0 20px;
        color: #fff;
        font-weight: 400;
        cursor: pointer;

        .count-movies {
          font-weight: 900;
          font-size: 17px;
        }
      }
    }
  }
}

//the End of header section

// movies section
#movies {
  margin-top: 70px;

  .movie-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    .card {
      max-width: 200px;

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        .comment,
        .reservation {
          background-color: #041222;
          border: none;
          color: #ffff;
          padding: 10px 0;
          border-radius: 8px;
        }
      }

      .likesContainer {
        display: flex;
        gap: 10px;
        justify-content: end;
      }
    }
  }
}

// End of movies section

//popup comments
#popup-back {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(180, 180, 180, 0.63);
  height: 100vh;
  backdrop-filter: blur(20px);

  &.active {
    display: flex;
  }

  #comment-popup {
    max-width: 1000px;
    margin: 30px auto;
    overflow-y: scroll;
    position: relative;

    .popup-close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 60px;
    }

    .popup-comment-container {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 10px;

        input {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border-radius: 8px;
          border: none;
          background-color: #041222;
          color: #ffff;
        }
      }
    }
  }
}

//popup reservations
#popup-back2 {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(180, 180, 180, 0.63);
  height: 100vh;
  backdrop-filter: blur(20px);

  &.active {
    display: flex;
  }

  #reservations-popup {
    max-width: 1000px;
    margin: 0 auto;
    overflow-y: scroll;
    position: relative;

    .popup-close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 60px;
    }

    .popup-reservation-container {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
      }

      form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 10px;

        input {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border-radius: 8px;
          border: none;
          background-color: #041222;
          color: #ffff;
        }
      }
    }
  }
}
